body {
    background-image: url(./../Utils/images/main-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    color: green
}

.container {
    min-width: 100%;
}

.login-form {
    background-color: #ffffff29;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    border: 6px solid white;;
    transform: translateY(-50%)
}

label{
    font-size: 18px !important;
    font-weight: bold;
    margin-right: 5px;
}

form img {
    width: 15vh;
    margin: 5px auto;
}
.form-group {
    margin-bottom: 0rem;
}

.btn-custom {
    background: white;
    border: none;
    color: green;
}

.btn-custom:hover {
    background: green;
    color: white !important;
}
input {
    color: green;
}
.form-control:focus {
    color: green !important;
    outline: none !important;
    border: none;
    box-shadow: none;
}