@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@200&display=swap');

@font-face {
	font-family: Montserrat500;
	src: url('../Utils/font/Montserrat-Medium.ttf'); 
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 0px;
	background-color: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100% !important;
    height: 100%;
    color: green !important;
    font-family: 'Krona One', sans-serif !important;
}
.main-container {
    height: 100%;
}

.navigation {
    position: fixed;
    width: 55px;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
    background: #ffffff87;
}

.navigation ul {
    height: 77%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    cursor: pointer;
    border-bottom: 2px solid #0080003b;
}

.navigation ul li div {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navigation ul li div .icon {
    position: relative;
    min-width: 45px;
    margin: 5px;
    text-align: center;
    border-radius: 20px;
    color: white;
    background: green;
    padding: 9px 1px;
}

.navigation ul li div .title {
    position: relative;
    display: block;
    margin: 2px 0px;
    margin-left: 30px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.bar-icon {
    font-size: 2rem;
    padding-left: 5px;
}
.bar-area {
    width: 55px;
    transition: 0.5s;
}
.brand-panel {
    margin-bottom: 7px;
}
.brand-icon {
    width: 300px;
}
.chat-panel {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    width: 300px;
    white-space: nowrap;
}
.chat-option {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 3px 0px;
    color: green;
}
.chat-option .icon {
    font-size: 26px;
    margin-left: 7px;
    width: 45px;
}

.chat-option .icon-private {
    margin-left: 13px;
}

.chat-option .title {
    margin-left: 26px;
}

.chat-option .title-private {
    margin-left: 20px;
}
.selected-option {
    color: gray;
    font-size: 14px;
}

.pending-message {
    position: absolute;
    z-index: 1;
    background: #28a745;
    font-size: 9px;
    left: 35px;
    border-radius: 24px;
    padding: 4px 6px;
    color: white;
    top: 1px;
}
.selected-room {
    background: linear-gradient(90deg, rgb(198 198 198 / 80%) -34.8%, rgba(255, 255, 255, 0.1) 111.2%);;
}
/* Body */

/* Header */

header {
    width: 100%;
    display: flex !important;
    background: #009688;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 2px;
    height: 5vh;
}
.logout {
    font-size: 1.5em;
    margin-right: 20px;
}

/* Chat Area */
.container-body {
    margin-left: 55px;
    position: relative;
    overflow: hidden;
    height: 100%;
}


.chat-image-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.friend-name {
    background:rgba(255,255,255,0.8);
    text-align: center;
    padding: 12px;
    height: 5vh;
}


.message-section {
    height: 87%;
    overflow-x: hidden;
    top: 0px;
    padding: 5px 20px;

}
.messageStyle {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    max-width: 60vw;
    overflow-wrap: anywhere;
    font-family: 'Montserrat', sans-serif;;
}
.sender-message {
    font-size: 13px;
}
.left-message {
    background: #0A7622;
    color: white;
    border-radius: 0px 10px 10px 20px;
 }
 
 .right-message {
    background: white;
    border-radius: 10px 0px 20px 10px;
 }
.message-time {
    font-size: 10px;
}
.message-status {
    margin-left: 5px;
    font-size: 18px;
}

.chat-control {
    overflow: hidden;
    padding: 0px 20px;
    margin: 0px auto;
}

.chat-panel span {
    padding: 10px 0px;
}

.control {
    display: flex;
    justify-content: start;
    align-items: center;
}

textarea {
    border-radius: 10px;
    width: 100%;
    max-height: 50px;
    min-height: 50px;
    margin: 0px 5px;
    background-color: #ffffffde;
    color: black;
    font-size: 18px;
    border: none;
    padding: 5px 55px;
    font-family: Montserrat500 !important;
    outline: none;
}
.smile-icon {
    position: absolute;
    left: 30px;
    font-size: 25px;
    border-right: 1px solid #00000029;
    padding-right: 8px;
}
.send-icon {
    font-size: 30px;
    padding-left: 10px;
    position: absolute;
    right: 30px;
    border-left: 1px solid #00000029;
}

/* Emoji Css */
.emoji-picker-react{
    width: 100% !important;
    height: 365px !important;
}
.active-category-indicator {
    display: none;
}
.emoji-picker-react .emoji-categories button.active {
    opacity: 0.7;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .main-container {
        width: 85%;
        margin: 2% auto;
        height: 94%;
        border: 5px solid white;
        border-radius: 15px;
        backdrop-filter: blur(12px);
    }
    .bar-icon { 
        visibility: hidden;
    }
    .navigation {
        width: 300px;
    } 
    .navigation ul {
        padding-bottom: 30px;
    }
    .container-body {
        margin-left: 300px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .bar-icon { 
        display: none;
    }
    .navigation {
        width: 300px;
    } 
    .container-body {
        margin-left: 300px;
    }
}   


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .bar-icon { 
        display: none;
    }
    .navigation {
        width: 300px;
    } 
    .container-body {
        margin-left: 300px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .navigation {
        background: hsl(0deg 0% 100%);
    }
    .brand-icon {
        width: 260px;
    }
    .message-section {
        padding: 5px 10px;
    }
    .chat-control {
        padding: 0px 10px;
    }
}

@media only screen and (max-height: 800px) {
    .navigation {
        padding-bottom: 75px;
    }
}